////
/// Mixins for creating sticky bars
/// @group Component mixins
/// @author Digital CX
////

@import '../../utilities';
@import '../../mixins';

///
/// @access public
@mixin vanilla-sticky-bar() {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  padding: vanilla-px-to-rem(16);
  align-items: center;
  box-sizing: border-box;
  background-color: $vanilla-color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

  > * {
    width: 100%;

    &:last-child {
      margin-left: vanilla-px-to-rem(16);
    }
  }
}

///
/// @access public
@mixin vanilla-sticky-bar--bottom() {
  bottom: 0;
}

///
/// @access public
@mixin vanilla-sticky-bar--top() {
  top: 0;
}
