@import 'common';
@import '../../variables';
@import '../../mixins';

///
/// @access public
@mixin vanilla-modal-dialog-base() {
  @include vanilla-modal-base();
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

///
/// @access public
@mixin vanilla-modal-dialog__heading() {
  padding: 0 vanilla-px-to-rem(16) vanilla-px-to-rem(11);
  margin: vanilla-px-to-rem(8) 0;
  font-size: vanilla-px-to-rem(24px);
  border-bottom: 1px solid $vanilla-color-grey7;
}

///
/// @access public
@mixin vanilla-modal-dialog__container() {
  background-color: $vanilla-color-white;
  position: relative;
  z-index: 100;
  max-width: 100%;
  width: 100%;
  flex-grow: 0;
  border: 1px solid $vanilla-color-white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @include vanilla-media('>=tablet') {
    align-self: center;
    min-width: vanilla-px-to-rem(480);
    width: auto;
  }
}

///
/// @access public
@mixin vanilla-modal-dialog__container--active() {
  opacity: 1;
}

///
/// @access public
@mixin vanilla-modal-dialog__content() {
  margin: vanilla-px-to-rem(16) vanilla-px-to-rem(16) vanilla-px-to-rem(32);
}

///
/// @access public
@mixin vanilla-modal-dialog__actions() {
  margin: vanilla-px-to-rem(16);
  text-align: right;

  button + button {
    margin-left: vanilla-px-to-rem(16);
    @include vanilla-media('<tablet') {
      margin-left: 0;
      margin-top: vanilla-px-to-rem(16);
    }
  }
}

/// Mixes in dialog styles
///
/// @access public
@mixin vanilla-modal-dialog($use-target-pseudo-class-for-active-state: true) {
  $__module: &;

  @include vanilla-modal-dialog-base();

  &__container {
    @include vanilla-modal-dialog__container();
  }

  &.#{$vanilla-modal-active-state-class} {
    @include vanilla-modal--active();

    > #{$__module}__container {
      @include vanilla-modal-dialog__container--active();
    }
  }
  @if ($use-target-pseudo-class-for-active-state == true) {
    &:target {
      @include vanilla-modal--active();

      > #{$__module}__container {
        @include vanilla-modal-dialog__container--active();
      }
    }
  }

  &__heading {
    @include vanilla-modal-dialog__heading();
  }

  &__body {
    @include vanilla-modal-dialog__content();
  }

  &__actions {
    @include vanilla-modal-dialog__actions();
  }
}
