@import 'common';
@import '../../colors';

///
/// @access public
@mixin vanilla-modal-slideout-base() {
  @include vanilla-modal-base();
}

///
/// @access public
@mixin vanilla-modal-slideout__container() {
  position: fixed;
  width: 33%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  @include media-context($vanilla-breakpoints) {
    @include media('<=tablet') {
      width: 100%;
    }
  }
}

///
/// @access public
@mixin vanilla-modal-slideout__container--right() {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

///
/// @access public
@mixin vanilla-modal-slideout__container--left() {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

///
/// @access public
@mixin vanilla-modal-slideout__container--active() {
  transform: translate3d(0, 0, 0);
}

///
/// @access public
@mixin vanilla-modal-slideout__header() {
  display: flex;
  justify-content: space-between;
  padding: vanilla-px-to-rem(32);
  border-bottom: 1px solid $vanilla-color-grey8;
}

///
/// @access public
@mixin vanilla-modal-slideout__heading() {
  margin: 0;
}

///
/// @access public
@mixin vanilla-modal-slideout__close() {
  cursor: pointer;
  outline: 0;
  background: 0;
  border: 0;
  font-size: vanilla-px-to-rem(20);
  color: $vanilla-color-blue;
}

///
/// @access public
@mixin vanilla-modal-slideout__content() {
  padding: vanilla-px-to-rem(32);
}

/// Mixes in Vanilla's default modal slideout structure
/// @access public
@mixin vanilla-modal-slideout($use-target-pseudo-class-for-active-state: true) {
  $__module: &;

  @include vanilla-modal-slideout-base();

  &__container {
    @include vanilla-modal-slideout__container();
  }

  &--right {
    #{$__module}__container {
      @include vanilla-modal-slideout__container--right();
    }
  }

  &--left {
    #{$__module}__container {
      @include vanilla-modal-slideout__container--left();
    }
  }

  &.#{$vanilla-modal-active-state-class} {
    @include vanilla-modal--active();

    #{$__module}__container {
      @include vanilla-modal-slideout__container--active();
    }
  }
  @if ($use-target-pseudo-class-for-active-state == true) {
    &:target {
      @include vanilla-modal--active();

      #{$__module}__container {
        @include vanilla-modal-slideout__container--active();
      }
    }
  }

  &__header {
    @include vanilla-modal-slideout__header();
  }

  &__heading {
    @include vanilla-modal-slideout__heading();
  }

  &__close {
    @include vanilla-modal-slideout__close();
  }

  &__content {
    @include vanilla-modal-slideout__content();
  }
}
