@import "modal-mixins";

@include _vanilla-exports("modal-slideout") {
  .sdv-modal-slideout {
    @include vanilla-modal-slideout();
  }
  .sdv-modal-backdrop {
    @include vanilla-modal-backdrop();
  }
}
