////
/// This file contains mixins for input components
/// @group Dropdowns
/// @author Digital CX
////

@import 'common';
@import 'text-field-mixins';

/// Dropdown button
///
/// @access public
@mixin vanilla-field-dropdown-button() {
  @include vanilla-field-base();

  line-height: vanilla-px-to-em(44 - 2);
  padding: 0 0 0 vanilla-px-to-rem(16);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: $vanilla-color-white;

  &::after {
    @include vanilla-icon($_glyph: '\F078', $_space: vanilla-px-to-em(44 - 2));

    float: right;
    background-color: inherit;
  }
}

/// Dropdown options
///
/// @access public
@mixin vanilla-field-dropdown-options() {
  @include vanilla-field-base();

  display: none;
  margin-top: vanilla-px-to-em(4px);
  box-shadow: 0 0 vanilla-px-to-rem(16) 0 rgba($vanilla-color-black, 0.2);
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  background-color: $vanilla-color-white;

  line-height: vanilla-px-to-em(44px);

  label,
  button,
  &__label {
    display: block;
    padding: 0 vanilla-px-to-rem(16);
    cursor: pointer;
    line-height: vanilla-px-to-em(44px);

    &:hover {
      background-color: $vanilla-color-component-normal;
      color: $vanilla-color-white;
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:checked + label,
  input:checked + &__label,
  &__label--selected {
    background-color: $vanilla-color-component-selected;
    color: #fff;
  }

  input:focus + label,
  input:focus + &__label,
  &__label--focus {
    @include vanilla-focus-outline();
  }

  &--expanded,
  &.-expanded {
    display: block;
  }
}

/// Dropdown button -- small modifier
///
/// @access public
@mixin vanilla-field-dropdown-button--small() {
  @include vanilla-field-base--small();

  &::after {
    @include vanilla-field-base--small();
  }
}

/// Dropdown native - style for native select input element
///
/// @access public
@mixin vanilla-field-dropdown-native() {
  @include vanilla-text-field();

  padding-right: 2.5em;
  appearance: none;
  background: $vanilla-color-white
    url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2341B0EE' d='M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z'/%3E%3C/svg%3E")
    no-repeat right vanilla-px-to-rem(12) center/vanilla-px-to-rem(16)
    vanilla-px-to-rem(16);

  &::-ms-expand {
    display: none;
  }
}
