@import '../buttons/button-mixins';
@import 'input_base';

@include _vanilla-exports('vanilla-fld-dropdown') {
  .sdv-field-dropdown {
    position: relative;
  }

  .sdv-field-dropdown__label {
    @include vanilla-field-dropdown-button();
  }

  .sdv-field-dropdown__options {
    @include vanilla-field-dropdown-options();
  }

  .sdv-field--small {
    .sdv-field-dropdown__label {
      @include vanilla-field-dropdown-button--small();
    }
  }
}
