////
/// This file contains mixins for input components
/// @group Inputs
/// @author Digital CX
////

@import '../../variables';
@import '../../utilities';
@import '../../mixins';
@import '../../colors';
@import '../../functions';
@import '../buttons/button-mixins';

@import 'common';
@import 'stepper-mixins';
@import 'text-field-mixins';
@import 'toggle-type-input-mixins';

/// Style for checkbox wrap. This is meant to be applied to elements that
/// contain an input of type checkbox.
///
/// @access public
/// @param $_type How should it be rendered? checkbox or switch
@mixin vanilla-field-toggle-wrap($_type: 'checkbox') {
  @include vanilla-field-base();
  @include vanilla-toggle-base($_type);

  input:checked + label::before {
    background-color: $vanilla-color-component-selected;
    border-color: $vanilla-color-component-selected;
  }

  @if ($_type == 'switch') {
    input:not(:checked) + label::before {
      background-color: $vanilla-color-component-disabled-dark;
      border-color: $vanilla-color-component-disabled-dark;
    }

    input + label::after {
      display: block;
      content: '';
      position: absolute;
      top: vanilla-px-to-em(11px);
      left: vanilla-px-to-em(13px);
      background-color: $vanilla-color-white;
      width: vanilla-px-to-em(18px);
      height: vanilla-px-to-em(18px);
      border-radius: 50%;
      transition: 250ms;
      border: vanilla-px-to-em(3px) solid $vanilla-color-white;
    }

    input:checked + label::after {
      left: vanilla-px-to-em(33px);
    }

    &:hover input:not(:disabled) + label::after {
      background-color: $vanilla-color-component-hover;
    }

    input:not(:disabled):focus + label::after {
      background-color: $vanilla-color-component-selected;
    }
  } @else {
    input:checked + label::after {
      display: block;
      content: '';
      position: absolute;
      top: 0.5em + 0.25em + vanilla-px-to-em(1px);
      left: 1em + vanilla-px-to-em(1px);
      box-sizing: border-box;
      background-color: transparent;
      width: (1 / 2.7) * 1em;
      border: 0 solid $vanilla-color-white;
      border-width: 0 vanilla-px-to-em(2px) vanilla-px-to-em(2px) 0;
      height: (1 / 1.5) * 1em;
      transform: rotate(40deg);
      transform-origin: 50% 50%;
    }
  }
}

/// Radio button styles
///
/// @access public
@mixin vanilla-field-radio-wrap() {
  @include vanilla-field-base();
  @include vanilla-toggle-base('radio');

  input:checked + label::after {
    display: block;
    content: '';
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: $vanilla-color-component-selected;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
  }
}

/// Dropdown button
///
/// @access public
@mixin vanilla-field-dropdown-button() {
  @include vanilla-field-base();

  line-height: vanilla-px-to-em(44 - 2);
  padding: 0 0 0 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: $vanilla-color-white;

  &::after {
    @include vanilla-icon($_glyph: '\F078', $_space: vanilla-px-to-em(44 - 2));

    float: right;
    background-color: inherit;
  }
}

/// Dropdown options
///
/// @access public
@mixin vanilla-field-dropdown-options() {
  @include vanilla-field-base();

  display: none;
  margin-top: vanilla-px-to-em(4px);
  box-shadow: 0 0 1rem 0 rgba($vanilla-color-black, 0.2);
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  background-color: $vanilla-color-white;

  line-height: vanilla-px-to-em(44px);

  label,
  &__label {
    display: block;
    padding: 0 1rem;
    cursor: pointer;
    line-height: vanilla-px-to-em(44px);

    &:hover {
      background-color: $vanilla-color-component-normal;
      color: $vanilla-color-white;
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:checked + label,
  input:checked + &__label,
  &__label--selected {
    background-color: $vanilla-color-component-selected;
    color: #fff;
  }

  input:focus + label,
  input:focus + &__label,
  &__label--focus {
    @include vanilla-focus-outline();
  }

  &--expanded,
  &.-expanded {
    display: block;
  }
}

/// Dropdown button -- small modifier
///
/// @access public
@mixin vanilla-field-dropdown-button--small() {
  @include vanilla-field-base--small();

  &::after {
    @include vanilla-field-base--small();
  }
}

/// Toggle selector
///
/// @access public
@mixin vanilla-field-toggle-selector() {
  $_padding_x: 1.5em;
  $_padding_y: 0.5em;
  $_iconSize: 35px;

  label,
  &__label {
    box-sizing: border-box;
    width: 100%;
    min-height: vanilla-px-to-em(72px);
    background-color: $vanilla-color-white;
    border: 1px solid $vanilla-color-grey6;
    padding: $_padding_y $_padding_x;
    font-weight: 500;
    border-radius: $vanilla-component-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $vanilla-color-text;
    text-align: center;

    &.sdv-align-left {
      text-align: left;
      justify-content: left;
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:checked + label,
  .-selected &__label {
    border-color: $vanilla-color-component-selected;
    color: $vanilla-color-component-selected;
    border-width: 2px;
    padding: calc(#{$_padding_y} - 1px) calc(#{$_padding_x} - 1px);
  }

  label:hover,
  &__label:hover,
  input:checked + label:hover,
  .-selected &__label:hover {
    border-color: $vanilla-color-component-hover;
    color: $vanilla-color-component-hover;
  }

  input:focus + label,
  .-focus &__label {
    @include vanilla-focus-outline();
  }

  input:disabled + label,
  .-disabled &__label {
    background-color: $vanilla-color-grey8;
    border-color: $vanilla-color-grey8;
    color: $vanilla-color-grey7;
  }

  label,
  &__label {
    &.sdv-icon {
      position: relative;
      padding-left: vanilla-px-to-em(24 + $_iconSize + 24);

      &::before {
        width: 24 + $_iconSize + 24;
        text-align: center;
        position: absolute;
        line-height: 1;
        left: 0;
        font-size: vanilla-px-to-em($_iconSize);
      }
    }
  }

  input:checked + label,
  .-selected &__label {
    &.sdv-icon {
      padding-left: vanilla-px-to-em(24 - 1 + $_iconSize + 24);

      &::before {
        width: 24 - 1 + $_iconSize + 24 - 1;
        left: 0;
        font-size: vanilla-px-to-em($_iconSize);
      }
    }
  }
}
