@import 'common';

/// Style for basic text field
///
/// @access public
@mixin vanilla-text-field() {
  @include vanilla-field-base();

  background-color: $vanilla-color-white;
  padding: 0 1em;
}

/// Style for basic text field -- small modifier
///
/// @access public
@mixin vanilla-text-field--small() {
  @include vanilla-field-base--small();
}

/// Style for textarea
///
/// @access public
@mixin vanilla-text-field-textarea() {
  background-color: $vanilla-color-white;
  padding: 0.5em 1em;
}

/// Style that can be added to erroneous text fields
///
/// @access public
@mixin vanilla-text-field--error() {
  $_border-bottom: vanilla-px-to-em(2) solid $vanilla-color-red;

  border-bottom: $_border-bottom;

  &:focus,
  &:active,
  &:hover {
    border-bottom: $_border-bottom;
  }
}

/// Meant to be shown below an input filed
///
/// @access public
@mixin vanilla-text-field-notice() {
  display: block;
  line-height: 1;
  font-size: vanilla-px-to-em(14);
  margin-top: vanilla-px-to-em(8);
}

/// Style that can be added to erroneous text field notice
///
/// @access public
@mixin vanilla-text-field-notice--error() {
  color: $vanilla-color-red;
}

/// Style for basic text field labels
///
/// @access public
@mixin vanilla-text-field-label() {
  @include vanilla-field-label();
}

/// Style for input wrap. This is meant to be applied to elements that
/// contain both an input and other content.
///
/// @access public
@mixin vanilla-text-field-wrap() {
  position: relative;
  height: vanilla-px-to-em(44px);
}

/// Style for icons and text appended to the right in the input-field
///
/// @access public
@mixin vanilla-text-field__after() {
  $_width: 2.5rem;

  width: $_width;
  height: 100%;
  position: absolute;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  // supported in ie9+
  &:not(:empty) + .sdv-field {
    padding-right: $_width;
  }
}

/// Style that can be added to erroneous field groups
///
/// @access public
@mixin vanilla-field-group--error() {
  border: 1px solid $vanilla-color-red;
  border-radius: $vanilla-component-border-radius;
}
