@import 'common';
@import '~include-media/dist/include-media';

///
/// @access public
@mixin vanilla-alert-ribbon-base() {
  width: 100%;
  padding: vanilla-px-to-rem(16);
  display: flex;

  @include media-context($vanilla-breakpoints) {
    @include media('<tablet') {
      flex-wrap: wrap;
    }
  }
}

///
/// @access public
@mixin vanilla-alert-ribbon__paragraph() {
  margin-bottom: 0;
  margin-right: 1em;
  line-height: 1.25;
  flex-grow: 1;

  @include media-context($vanilla-breakpoints) {
    @include media('<tablet') {
      flex-basis: 0;
      margin-right: 0;
    }
  }
}

///
/// @access public
@mixin vanilla-alert-ribbon__button() {
  @include vanilla-button();
  margin-left: auto;
  align-self: flex-end;

  @include media-context($vanilla-breakpoints) {
    @include media('<tablet') {
      flex-basis: 100%;
      margin-left: 0;
      margin-top: 1em;
    }
  }

  @include media-context($vanilla-breakpoints) {
    @include media('>=tablet') {
      @include vanilla-button--small();
      margin-left: 4rem;
    }
  }
}

///
/// @access public
@mixin vanilla-alert-ribbon__icon() {
  font-size: 1em;
  line-height: 1.25;
  margin-right: 1em;
}

///
/// @access public
@mixin vanilla-alert-ribbon__link() {
  &,
  &:hover,
  &:visited {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
  }
}

///
/// @access public
@mixin vanilla-alert-ribbon() {
  @include vanilla-alert-ribbon-base();

  p {
    @include vanilla-alert-ribbon__paragraph();
  }

  &__button {
    @include vanilla-alert-ribbon__button();
  }

  a {
    @include vanilla-alert-ribbon__link();
  }

  .fal,
  .far,
  .fas {
    @include vanilla-alert-ribbon__icon();
  }

  &--whisper,
  &--information {
    @include vanilla-alert--information();
  }

  &--success {
    @include vanilla-alert--success();
  }

  &--talk,
  &--warning {
    @include vanilla-alert--warning();
  }

  &--shout,
  &--critical {
    @include vanilla-alert--critical();
  }
}
