////
/// Mixins for creating tables
/// @group Component mixins
/// @author Digital CX
////

@import '../../utilities';
@import '../../mixins';
@import '../../colors';
@import '../../variables';

$vanilla-table-fixed-col-width: 150px !default;

/// Mixes in table styles
///
/// @access public
@mixin vanilla-table() {
  @include vanilla-table__main();

  tr &__numeric-col {
    @include vanilla-table__numeric-col();
  }

  tr &__negative-col {
    @include vanilla-table__negative-col();
  }

  tr &__primary-col {
    @include vanilla-table__primary-col();
  }

  &__sortable-col {
    @include vanilla-table__sortable-col();
  }

  .sdv-field-checkbox-wrap label {
    box-shadow: none !important;
  }

  &--fixed-l-col {
    @include vanilla-table--fixed-l-col();
  }
}

/// Table main styles
///
/// @access public
@mixin vanilla-table__main() {
  width: 100%;
  font-family: $vanilla-font-seb-sans-serif;
  border-spacing: 0;

  th,
  td {
    text-align: left;
    border-bottom: 1px solid $vanilla-color-grey8;
  }

  thead {
    color: $vanilla-color-grey800;
    font-size: vanilla-px-to-em(16);

    tr {
      min-height: vanilla-px-to-em(32);
    }

    th,
    td {
      border-bottom: 1px solid $vanilla-color-grey6;
      font-weight: 500;
    }
  }

  tbody {
    font-size: vanilla-px-to-em(16);

    tr {
      height: vanilla-px-to-em(40);
      border-bottom: 1px solid $vanilla-color-grey5;
    }

    tr:hover td,
    tr:hover th {
      background-color: $vanilla-color-grey9;
    }
  }

  tfoot {
    font-weight: 500;
    font-size: vanilla-px-to-em(16);

    tr {
      height: vanilla-px-to-em(40);
    }

    td {
      border-top: 1px solid $vanilla-color-grey6;
      border-bottom-width: 0;
    }
  }
}

/// Numeric column
///
/// @access public
@mixin vanilla-table__numeric-col() {
  text-align: right;
}

/// Negative column
///
/// @access public
@mixin vanilla-table__negative-col() {
  color: $vanilla-color-darkred2;
}

/// Primary column
///
/// @access public
@mixin vanilla-table__primary-col() {
  color: $vanilla-color-black;
}

/// Sortable column
///
/// @access public
@mixin vanilla-table__sortable-col() {
  cursor: pointer;
  margin-left: vanilla-px-to-em(8);

  &::after {
    @include vanilla-icon(
      $_glyph: '\F078',
      $_color: inherit,
      $_space: vanilla-px-to-rem(16)
    );
    opacity: 0;
    transition: 0.3s;
  }

  &:hover::after {
    opacity: 1;
  }

  &--asc::after {
    @include vanilla-icon(
      $_glyph: '\F078',
      $_color: inherit,
      $_space: vanilla-px-to-rem(16)
    );
    opacity: 1;
  }

  &--desc::after {
    @include vanilla-icon(
      $_glyph: '\F077',
      $_color: inherit,
      $_space: vanilla-px-to-rem(16)
    );
    opacity: 1;
  }
}

/// Fixed left column modifier
///
/// @access public
@mixin vanilla-table--fixed-l-col() {
  overflow: auto;
  display: block;
  position: relative;
  max-width: 100%;

  td,
  th {
    width: auto !important;
    min-width: $vanilla-table-fixed-col-width;
  }

  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background-color: $vanilla-color-white;
    border-right: 1px solid $vanilla-color-grey8;
  }

  thead th {
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: $vanilla-color-white;

    &:first-child {
      z-index: 2;
    }
  }
}
