////
/// Mixins for creating buttons
/// @group Component mixins
/// @author Digital CX
////
@import 'include-media/dist/include-media';

@import '../../variables';
@import '../../functions';
@import '../../utilities';
@import '../../icons';
@import '../../mixins';
@import '../../colors';

/// The left and right padding in buttons
$vanilla-button-padding: vanilla-px-to-em(16) !default;
$vanilla-button-padding--large: vanilla-px-to-em(24) !default;

// Config
$_height: vanilla-px-to-em(44 - 2);
$_border-radius: $vanilla-component-border-radius;

$_button_color-bg-normal: $vanilla-color-darkblue2;
$_button_color-bg-hover: $vanilla-color-darkblue1;
$_button_color-bg-pressed: $vanilla-color-darkblue1;
$_button_color-bg-focus: $vanilla-color-component-selected;
$_button_disabled-color: $vanilla-color-component-disabled-darker;
$_button_disabled-bg-color: $vanilla-color-grey200;
$_ghost-button_disabled-opacity: 0.5;
//

/// Mixes in button styles
///
/// @access public
@mixin vanilla-button {
  display: inline-block;

  padding: 0 $vanilla-button-padding;
  box-sizing: border-box;

  line-height: $_height;
  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;

  appearance: none;
  border-radius: $_border-radius;
  border: vanilla-px-to-em(1px) solid $_button_color-bg-normal;
  outline: none;
  background-color: $_button_color-bg-normal;

  cursor: pointer;

  @include media-context($vanilla-breakpoints) {
    @include media('<tablet') {
      width: 100%;
    }
  }

  &:hover {
    background-color: $_button_color-bg-hover;
    border-color: $_button_color-bg-hover;
    text-decoration: none;
  }

  &:focus {
    @include vanilla-focus-outline();
    background-color: $_button_color-bg-focus;
    border-color: $_button_color-bg-focus;
    text-decoration: none;
  }

  &:active {
    background-color: $_button_color-bg-pressed;
    border-color: $_button_color-bg-pressed;
    text-decoration: none;
  }

  &,
  &:visited,
  &:link {
    color: $vanilla-color-white;
  }

  &[disabled] {
    color: $_button_disabled-color;
    background-color: $_button_disabled-bg-color;
    border-color: $_button_disabled-bg-color;
    cursor: default;
  }

  // If button has icon
  .sdv-icon-left {
    margin-left: vanilla-px-to-em(-4);
  }

  .sdv-icon-right {
    margin-right: vanilla-px-to-em(-4);
  }
}

/// Mixes in button styles -- small modifier
///
/// @access public
@mixin vanilla-button--small {
  line-height: vanilla-px-to-rem(30);
  min-height: vanilla-px-to-rem(32);
  max-height: vanilla-px-to-rem(32);
  font-size: vanilla-px-to-rem(14);
}

/// Mixes in button styles -- large modifier
///
/// @access public
@mixin vanilla-button--large {
  line-height: 1.5;
  min-height: vanilla-px-to-rem(64);
  max-height: vanilla-px-to-rem(64);
  font-size: vanilla-px-to-rem(20);
  padding: 0 $vanilla-button-padding--large;
}

/// Add secondary button styles
///
/// @access public
@mixin vanilla-button-secondary {
  background-color: transparent;
  border-color: $_button_color-bg-normal;

  &,
  &:visited,
  &:link {
    color: $_button_color-bg-normal;
  }

  &:focus {
    background: transparent;
  }

  &:active,
  &:hover {
    color: $vanilla-color-white;
    background-color: $_button_color-bg-hover;
  }

  &[disabled] {
    color: $_button_disabled-color;
    background-color: transparent;
    border-color: $_button_disabled-color;
  }
}

/// Alternative button styles
///
/// @access public
@mixin vanilla-button-alternative {
  background-color: transparent;
  border-color: transparent;

  &,
  &:visited,
  &:link {
    color: $_button_color-bg-normal;
  }

  &:focus {
    background: transparent;
    border: transparent;
  }

  &:active,
  &:hover {
    background-color: $_button_color-bg-hover;
    color: $vanilla-color-white;
  }

  &[disabled] {
    color: $_button_disabled-color;
    background-color: transparent;
    border-color: transparent;
  }
}

/// Link button styles
///
/// @access public
@mixin vanilla-button-link {
  @include vanilla-button-alternative;
}

/// Ghost button styles
///
/// @access public
@mixin vanilla-button-ghost-light {
  border-color: $vanilla-color-white;
  color: $vanilla-color-white;
  background-color: transparent;

  &:focus {
    @include vanilla-focus-outline($vanilla-color-white, 0.9);
  }

  &:focus,
  &:hover,
  &:active {
    color: $vanilla-color-text;
    background-color: $vanilla-color-white;
    border-color: $vanilla-color-white;
  }

  &[disabled] {
    background-color: transparent;
    border-color: rgba($vanilla-color-white, $_ghost-button_disabled-opacity);
    color: rgba($vanilla-color-white, $_ghost-button_disabled-opacity);
  }
}

/// Ghost button styles (dark)
///
/// @access public
@mixin vanilla-button-ghost-dark {
  border-color: $vanilla-color-grey2;
  color: $vanilla-color-grey2;
  background-color: transparent;

  &,
  &:visited,
  &:link {
    color: $vanilla-color-grey2;
  }

  &:focus {
    @include vanilla-focus-outline($vanilla-color-grey700);
  }

  &:focus,
  &:hover,
  &:active {
    color: $vanilla-color-white;
    background-color: $vanilla-color-grey2;
    border-color: $vanilla-color-grey2;
  }

  &[disabled] {
    background-color: transparent;
    border-color: $_button_disabled-color;
    color: $_button_disabled-color;
  }
}

/// Ghost button styles default (for backwards compatibility)
///
/// @access public
/// @deprecated
@mixin vanilla-button-ghost {
  @include vanilla-button-ghost-light();
}

/// Delete button styles
///
/// @access public
@mixin vanilla-button-delete {
  color: $vanilla-color-darkred1;
  background-color: transparent;
  border-color: transparent;

  &,
  &:visited,
  &:link {
    color: $vanilla-color-darkred1;
  }

  &:focus {
    @include vanilla-focus-outline($vanilla-color-red);
  }

  &:focus,
  &:hover,
  &:active {
    color: $vanilla-color-white;
    background-color: $vanilla-color-red;
    border-color: $vanilla-color-red;
  }

  &[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: $_button_disabled-color;
  }
}

/// Delete button styles
///
/// @access public
@mixin vanilla-button-delete-confirm {
  color: $vanilla-color-white;
  background-color: $vanilla-color-darkred1;
  border-color: $vanilla-color-darkred1;

  &:focus {
    @include vanilla-focus-outline($vanilla-color-red);
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $vanilla-color-red;
    border-color: $vanilla-color-red;
  }

  &[disabled] {
    background-color: $_button_disabled-bg-color;
    border-color: $_button_disabled-bg-color;
  }
}

/// Sell button styles
///
/// @access public
@mixin vanilla-button-sell {
  color: $vanilla-color-white;
  background-color: $vanilla-color-button-sell;
  border-color: $vanilla-color-button-sell;

  &:focus {
    @include vanilla-focus-outline($vanilla-color-red);
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $vanilla-color-button-sell-dark;
    border-color: $vanilla-color-button-sell-dark;
  }

  &[disabled] {
    background-color: $_button_disabled-bg-color;
    border-color: $_button_disabled-bg-color;
  }
}

/// Mixes in button icon
///
/// @access public
/// @param $_glyph - Which icon to use
@mixin vanilla-button-icon($_glyph) {
  &::before {
    @include vanilla-icon($_glyph);
  }
}
