////
/// Mixins for accordions
/// @group Component mixins
/// @author Digital CX
////

@import '~include-media/dist/include-media';
@import '../../colors';
@import '../../utilities';
@import '../../variables';
@import '../../functions';
@import '../../mixins';

$vanilla-accordion-icon-size: 0.9em;
$vanilla-accordion-left-margin: 2.5rem;

/// Mixes in accordion styles
///
/// @access public
@mixin vanilla-accordion() {
  margin: 0;
  border-bottom: vanilla-px-to-em(1px) solid $vanilla-color-grey8;

  &__header {
    @include vanilla-accordion__header();

    + * {
      @include vanilla-accordion__content-section();
    }

    > * {
      @include vanilla-accordion__headline();

      > * {
        @include vanilla-accordion__sub-headline();
      }
    }

    &--expanded,
    input:checked + & {
      @include vanilla-accordion__header--expanded();

      + * {
        @include vanilla-accordion__content-section--expanded();
      }
    }

    input:focus + & {
      @include vanilla-focus-outline();
      background-color: $vanilla-color-grey9;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: -999rem;
  }
}

/// Accordion header
///
/// @access public
@mixin vanilla-accordion__header() {
  font-weight: 500;
  font-size: vanilla-px-to-rem(20px);
  padding: vanilla-px-to-em(2) 0;
  padding-right: 0.75em;
  display: flex;
  border-top: vanilla-px-to-em(1px) solid $vanilla-color-grey8;

  // Icon
  &::before {
    @include vanilla-icon('\F078', $_space: $vanilla-accordion-left-margin);
    @include vanilla-icon-rotate(0, $transform-origin: '50% 48%');
    flex-shrink: 0;
    line-height: $vanilla-accordion-left-margin;
    transition: 0.3s;
    font-size: $vanilla-accordion-icon-size;
  }

  &:hover {
    background-color: $vanilla-color-grey9;
  }
}

/// Accordion content section
///
/// @access public
@mixin vanilla-accordion__content-section() {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 1em 0 $vanilla-accordion-left-margin;
  transition: 0.3s;
}

/// Accordion headline
///
/// @access public
@mixin vanilla-accordion__headline() {
  display: inline;
  flex-grow: 1;
  margin: 0 0 0 -#{$vanilla-accordion-left-margin};
  padding: 0.3em 0 0.3em $vanilla-accordion-left-margin;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

/// Accordion sub headline
///
/// @access public
@mixin vanilla-accordion__sub-headline() {
  display: block;
  font-size: 0.65em;
  font-weight: normal;
  font-style: normal;
}

/// Accordion header, expanded state
///
/// @access public
@mixin vanilla-accordion__header--expanded() {
  // Change icon rotation
  &::before {
    @include vanilla-icon-rotate(-180, $transform-origin: '50% 48%');
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    transition: 0.3s;
    margin-top: vanilla-px-to-em(1px);
    margin-bottom: vanilla-px-to-em(-1px);
  }
}

/// Accordion content section, expanded state
///
/// @access public
@mixin vanilla-accordion__content-section--expanded() {
  height: auto;
  transition: 0.3s;
}
