////
/// Mixins for sliders
/// @group Component mixins
/// @author Digital CX
////

@import '../../variables';
@import '../../utilities';
@import '../inputs/common';

$vanilla-slider-track-width: 100% !default;
$vanilla-slider-track-height: 0.25em !default;
$vanilla-slider-thumb-size: vanilla-px-to-em(24) !default;
$vanilla-slider-thumb-shadow: rgba($vanilla-color-black, 0.25) 0
  vanilla-px-to-em(2px) vanilla-px-to-em(5px);
$vanilla-slider-track-color: $vanilla-color-grey7;

///
/// @access public
@mixin vanilla-slider-label {
  @include vanilla-field-label();
  display: flex;
  justify-content: space-between;

  label,
  &__label {
    padding-top: 0.8em;
  }

  input {
    max-width: 50%;
  }
}

@mixin vanilla-slider__container() {
  margin: 0;
  padding: 0;
  width: $vanilla-slider-track-width;
  height: $vanilla-slider-thumb-size;
  background: transparent;
  font-size: 1em;
}

///
/// @access public
@mixin vanilla-slider-track($fill: 0) {
  box-sizing: border-box;
  border: 0;
  width: $vanilla-slider-track-width;
  height: $vanilla-slider-track-height;
  background: $vanilla-slider-track-color;
  position: relative;
  border-radius: $vanilla-slider-track-height;
  // @if $fill == 1 {
  //   .js & {
  //     background: linear-gradient($filll-c, $filll-c)
  //       0 /
  //       var(--sx)
  //       100%
  //       no-repeat
  //       $track-c;
  //   }
  // }
}

///
/// @access public
@mixin vanilla-slider-fill() {
  height: $vanilla-slider-track-height;
  background: $vanilla-color-component-selected;
}

///
/// @access public
@mixin vanilla-slider-thumb() {
  box-sizing: border-box;
  border: 0;
  width: $vanilla-slider-thumb-size;
  height: $vanilla-slider-thumb-size;
  border-radius: 50%;
  background: $vanilla-color-component-normal;
  position: absolute;
  top: 0.5 * ($vanilla-slider-track-height - $vanilla-slider-thumb-size);
  box-shadow: $vanilla-slider-thumb-shadow;

  transition-property: background-color, box-shadow, transform;
  transition-duration: 80ms;
  transition-timing-function: ease-in-out;

  &:hover {
    background: $vanilla-color-component-selected;
    transform: scale(1.1);
  }
}

///
/// @access public
@mixin vanilla-slider-thumb-focus() {
  box-shadow: $vanilla-slider-thumb-shadow,
    0 0 0 vanilla-px-to-em(2px) rgba($vanilla-color-component-normal, 0.45);
}

///
/// @access public
@mixin vanilla-range-input {
  @include vanilla-slider__container();

  &,
  &::-webkit-slider-thumb {
    appearance: none;
  }

  &::-webkit-slider-runnable-track {
    @include vanilla-slider-track(1);
  }

  &::-moz-range-track {
    @include vanilla-slider-track(1);
  }

  &::-ms-track {
    @include vanilla-slider-track(1);
  }

  &::-moz-range-progress {
    @include vanilla-slider-fill;
  }

  &::-ms-fill-lower {
    @include vanilla-slider-fill;
  }

  &::-webkit-slider-thumb {
    @include vanilla-slider-thumb;
  }

  &::-moz-range-thumb {
    @include vanilla-slider-thumb;
  }

  &::-ms-thumb {
    @include vanilla-slider-thumb;
    margin-top: 0;
  }

  &::-ms-tooltip {
    display: none;
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      @include vanilla-slider-thumb-focus();
    }

    &::-moz-range-thumb {
      @include vanilla-slider-thumb-focus();
    }

    &::-ms-thumb {
      @include vanilla-slider-thumb-focus();
    }
  }
}
