////
/// Mixins for creating tabs
/// @group Component mixins
/// @author Digital CX
////

@import '../../utilities';
@import '../../colors';
@import '../../variables';

$vanilla-tooltip-css-only--width: vanilla-px-to-em(200px) !default;
/// Styles for the tooltip box
///
/// @access public
@mixin vanilla-tooltip-box {
  background-color: $vanilla-color-text;
  color: $vanilla-color-white;
  font-size: vanilla-px-to-em(14);
  font-weight: 400;
  line-height: 1.5;
  padding: vanilla-px-to-rem(8);
  pointer-events: none;
}

/// Styles for the tooltip speech bubble arrow
///
/// @access public
@mixin vanilla-tooltip-arrow {
  width: 0;
  height: 0;
  border: vanilla-px-to-em(8) solid $vanilla-color-text;
}

/// Styles for default tooltip class
///
/// @access public
@mixin vanilla-tooltip__main() {
  @include vanilla-tooltip-box();
  position: relative;

  &::after {
    @include vanilla-tooltip-arrow();
    content: '';
    position: absolute;
  }
}

/// Styles for default tooltip class
///
/// @access public
@mixin vanilla-tooltip() {
  @include vanilla-tooltip__main();

  &--top {
    @include vanilla-tooltip--top();
  }

  &--bottom {
    @include vanilla-tooltip--bottom();
  }

  &--left {
    @include vanilla-tooltip--left();
  }

  &--right {
    @include vanilla-tooltip--right();
  }
}

/// Tooltip top modifier
///
/// @access public
@mixin vanilla-tooltip--top() {
  &::after {
    bottom: vanilla-px-to-rem(-16);
    left: 50%;
    transform: translateX(-50%);
    border-color: $vanilla-color-text transparent transparent;
  }
}

/// Tooltip bottom modifier
///
/// @access public
@mixin vanilla-tooltip--bottom() {
  &::after {
    top: vanilla-px-to-rem(-16);
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent $vanilla-color-text;
  }
}

/// Tooltip left modifier
///
/// @access public
@mixin vanilla-tooltip--left() {
  &::after {
    left: vanilla-px-to-rem(-16);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent $vanilla-color-text transparent transparent;
  }
}

/// Tooltip right modifier
///
/// @access public
@mixin vanilla-tooltip--right() {
  &::after {
    right: vanilla-px-to-rem(-16);
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent $vanilla-color-text;
  }
}

/// Styles for the css only variant of the tooltip
///
/// @access public
@mixin vanilla-tooltip-css-only {
  cursor: help;
  border-bottom: dashed 1px $vanilla-color-text;
  display: inline-flex;
  justify-content: center;
  //position: relative;

  &::before {
    @include vanilla-tooltip-box();
    content: attr(data-sdv-tooltip);
    position: fixed;
    transform: translateY(-100%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: $vanilla-tooltip-css-only--width;
    background: linear-gradient(
      to top,
      transparent vanilla-px-to-em(20),
      $vanilla-color-text vanilla-px-to-em(20)
    );
    padding-bottom: vanilla-px-to-em(28);
  }

  &::after {
    @include vanilla-tooltip-arrow();
    content: '';
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform: translateY(vanilla-px-to-em(-18));
    border-color: $vanilla-color-text transparent transparent;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    opacity: 1;
    visibility: visible;
  }
}
