////
/// Mixins for creating progress bars
/// @group Component mixins
/// @author Digital CX
////

@import '../../utilities';
@import '../../colors';
@import '../../variables';

/// Name of progress bar animation @keyframes
$vanilla-progressbar-keyframes: 'sdv-progressbar-loading' !default;

/// Mixes in progress bar styles
///
/// @access public
@mixin vanilla-progress-bar() {
  appearance: none;
  height: vanilla-px-to-rem(5);
  width: 100%;
  position: relative;
  overflow: hidden;
  color: $vanilla-color-green;
  border-width: 0;
  background-color: $vanilla-color-grey8;

  &::before {
    display: block;
    position: absolute;
    content: '';
    left: -200px;
    width: 200px;
    height: vanilla-px-to-rem(5);
    background-color: $vanilla-color-green;
    animation: #{$vanilla-progressbar-keyframes} 2s linear infinite;
  }

  // Progress (follow https://bugzilla.mozilla.org/show_bug.cgi?id=662351 for changes)
  &::-webkit-progress-value {
    background-color: transparent;
  }

  &::-moz-progress-bar {
    background-color: transparent;
  }

  &::-ms-fill {
    background-color: transparent;
    border-width: 0;
  }

  // Track
  &::-webkit-progress-bar {
    background-color: $vanilla-color-grey200;
  }

  @keyframes #{$vanilla-progressbar-keyframes} {
    from {
      left: -30%;
      width: 30%;
    }

    50% {
      width: 30%;
    }

    70% {
      width: 70%;
    }

    80% {
      left: 50%;
    }

    95% {
      left: 120%;
    }

    to {
      left: 100%;
    }
  }
}

/// @access public
@mixin vanilla-progress-bar--determinate() {
  &::before {
    content: none;
  }

  // Progress
  &::-webkit-progress-value {
    background-color: $vanilla-color-green;
  }

  &::-moz-progress-bar {
    background-color: $vanilla-color-green;
  }

  &::-ms-fill {
    background-color: $vanilla-color-green;
  }
}
