////
/// Classes for the datepicker component
/// @group Component mixins
/// @author Digital CX
////

@import './datepicker-mixins';
@import '../buttons/button';
@import '../inputs/dropdown';

@include _vanilla-exports('vanilla-datepicker') {
  .sdv-datepicker {
    @include vanilla-datepicker__container();

    &__controls {
      @include vanilla-datepicker__controls();
    }

    &__calendar {
      @include vanilla-datepicker__calendar();

      &--scrollable {
        @include vanilla-datepicker__calendar--scrollable();
      }
    }

    &__calendar-row {
      @include vanilla-datepicker__calendar-row();
    }

    &__calendar-header-row {
      @include vanilla-datepicker__calendar-header-row();
    }
  }
}
