////
/// Mixins for creating datepickers
/// @group Component mixins
/// @author Digital CX
////

@import '../../variables';
@import '../../functions';
@import '../../utilities';
@import '../../icons';
@import '../../colors';

@import 'node_modules/include-media/dist/include-media';

@mixin vanilla-datepicker__container {
  border-radius: $vanilla-component-border-radius;
  border: 1px solid $vanilla-color-darkblue1;
  overflow: hidden;
  min-width: vanilla-px-to-em(300);

  @include media-context($vanilla-breakpoints) {
    @include media('<tablet') {
      min-width: 100%;
      border-width: 0;
    }
  }
}

@mixin vanilla-datepicker__controls {
  display: flex;
  padding: vanilla-px-to-em(4);
  justify-content: space-between;

  > * {
    margin: vanilla-px-to-em(4);
  }
}

@mixin vanilla-datepicker__calendar {
  border-top: 1px solid $vanilla-color-grey8;
  border-bottom: 1px solid $vanilla-color-grey8;
}

@mixin vanilla-datepicker__calendar--scrollable {
  max-height: vanilla-px-to-em(265px);
  overflow: auto;
}

@mixin vanilla-datepicker__calendar-row {
  display: flex;
  padding: vanilla-px-to-em(2);

  > * {
    line-height: vanilla-px-to-em(40);
    padding: 0;
    display: block;
    flex-grow: 1;
    text-align: center;
    width: 20%;
    color: $vanilla-color-text;

    &:disabled {
      border-radius: 0;
      border: 0 solid transparent;
    }
  }
}

@mixin vanilla-datepicker__calendar-header-row {
  background-color: $vanilla-color-grey9;
  font-size: 0.8em;
  padding: vanilla-px-to-em(8);
}
