////
/// Mixins for breadcrumbs
/// @group Component mixins
/// @author Digital CX
////

@import "../../utilities";
@import "../../colors";
@import "../../mixins";

///  Mixins for breadcrumbs
///
/// @access public
@mixin vanilla-breadcrumbs() {
  $truncate_icons_size: 2.6rem;
  $item_gutter: 0.5rem;
  $_this: &;

  &__list {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    .-reverse-truncation & {
      flex-wrap: nowrap;
    }
  }
  &__item {
    font-weight: $vanilla-typography-link-font-weight;
    color: $vanilla-color-grey2;
    white-space: nowrap;
    &::before,
    &::after {
      font-size: 0.8rem;
    }
    @include media(">=tablet") {
      margin-right: $item_gutter;
      &:not(.-current)::after {
        @include vanilla-icon(
          $_glyph: "\f054",
          $_space: vanilla-px-to-em(16),
          $_color: $vanilla-color-grey2
        );
        margin-left: $item_gutter;
      }
    }
  }

  @include media(">=tablet") {
    &__root {
      #{$_this}__item {
        position: relative;
        padding-right: $truncate_icons_size;
      }
    }
    &__trunc-icons {
      position: absolute;
      right: 0;
      bottom: 1px;
      font-size: 0.8rem;
      color: $vanilla-color-grey2;
      display: flex;
      justify-content: space-evenly;
      > div {
        &.-ellipsis {
          &::after {
            @include vanilla-icon(
              $_glyph: "\f141",
              $_space: vanilla-px-to-em(16),
              $_color: $vanilla-color-grey2
            );
          }
        }
        &.-chevron {
          margin-left: $item_gutter;
          &::after {
            @include vanilla-icon(
              $_glyph: "\f054",
              $_space: vanilla-px-to-em(16),
              $_color: $vanilla-color-grey2
            );
          }
        }
      }
    }
    &__reverse {
      display: flex;
      margin-left: -$truncate_icons_size;
      padding-left: $truncate_icons_size;
      flex: 0 1 auto;
      overflow-y: hidden;
      #{$_this}__item {
        position: relative;
        white-space: nowrap;
        background: white;
        z-index: 20;
        &:last-child {
          margin-left: -$truncate_icons_size;
          position: relative;
        }
      }
      flex-flow: row-reverse;
      flex: 0 1 auto;
      min-width: 0;
      flex-wrap: wrap;
      height: vanilla-px-to-em(24);
      justify-content: flex-end;
    }
  }

  @include media("<tablet") {
    width: 100%;
    &__item {
      &:not(.-parent) {
        display: none;
      }
      &.-parent {
        width: 100%;
        a {
          width: 100%;
          display: block;
          padding-left: 1rem;
          padding-top: vanilla-px-to-em(10);
          padding-bottom: vanilla-px-to-em(10);
          &::before {
            @include vanilla-icon(
              $_glyph: "\f053",
              $_space: vanilla-px-to-em(16),
              $_color: $vanilla-color-grey2
            );
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
