////
/// Mixins for breadcrumbs
/// @group Component mixins
/// @author Digital CX
////

@import "../../utilities";
@import "../../colors";
@import "../../mixins";

///  Mixins for breadcrumbs
///
/// @access public
@mixin vanilla-breadcrumbs {
  $_this: &;
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    font-weight: $vanilla-typography-link-font-weight;
    color: $vanilla-color-grey2;
    white-space: nowrap;
    &::before {
      font-size: 0.8rem;
    }
  }
  //  @include media(">=tablet") {
  &__item + &__item,
  &__collapse > &__item,
  &__remain > &__item,
  &__collapse + &__item {
    margin-left: 0.5rem;
    &::before {
      @include vanilla-icon(
        $_glyph: "\f054",
        $_space: vanilla-px-to-em(16),
        $_color: $vanilla-color-grey2
      );
      margin-right: 0.5rem;
    }
  }

  &__root {
    display: flex;
    &::after {
      content: "...";
      margin-left: 1.2rem;
    }
  }
  &__collapse {
    margin-left: -1.2rem;
    display: flex;
    overflow: hidden;
    flex: 0 1 auto;
    #{$_this}__item {
      white-space: nowrap;
      background: white;
      &::after {
        background: white;
        width: 1rem;
        height: 1rem;
      }
    }
    display: flex;
    flex-flow: row-reverse;
    overflow: hidden;
    flex: 0 1 auto;
    min-width: 0;
    flex-wrap: wrap;
    height: vanilla-px-to-em(24);
    justify-content: flex-start;
  }
  &__remain {
    display: flex;
  }
  //}
  // @include media("<tablet") {
  //   width: 100%;
  //   &__item {
  //     &:not(.-parent) {
  //       display: none;
  //     }
  //     &.-parent {
  //       width: 100%;
  //       a {
  //         width: 100%;
  //         display: block;
  //         padding-left: 1rem;
  //         padding-top: vanilla-px-to-em(10);
  //         padding-bottom: vanilla-px-to-em(10);
  //         &::before {
  //           @include vanilla-icon(
  //             $_glyph: "\f053",
  //             $_space: vanilla-px-to-em(16),
  //             $_color: $vanilla-color-grey2
  //           );
  //           margin-right: 1rem;
  //         }
  //       }
  //     }
  //   }
  // }
}
