////
/// Mixins for breadcrumbs
/// @group Component mixins
/// @author Digital CX
////

@import 'node_modules/include-media/dist/include-media';

@import '../../variables';
@import '../../utilities';
@import '../../colors';
@import '../../mixins';

$vanilla-breadcrumbs-item-margin: vanilla-px-to-em(8) !default;
$vanilla-breadcrumbs-item-margin-mobile: vanilla-px-to-em(16) !default;
$vanilla-breadcrumbs-chevron-size: 0.8em !default;

///  Breadcrumbs
///
/// @access public
@mixin vanilla-breadcrumbs() {
  > * {
    @include vanilla-breadcrumbs__list();
  }

  > * > * {
    @include vanilla-breadcrumbs__item();

    &.-hidden {
      @include vanilla-breadcrumbs__item--hidden();
    }
  }

  > * > .-hidden + * {
    &::before {
      @include vanilla-breadcrumbs__ellipsis();
    }
  }
}

///  Breadcrumbs list
///
/// @access public
@mixin vanilla-breadcrumbs__list() {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

///  Breadcrumbs item
///
/// @access public
@mixin vanilla-breadcrumbs__item() {
  font-weight: $vanilla-typography-link-font-weight;
  color: $vanilla-color-text;
  white-space: nowrap;

  @include media-context($vanilla-breakpoints) {
    @include media('>=tablet') {
      margin-right: $vanilla-breadcrumbs-item-margin;

      &:not(:last-child)::after {
        @include vanilla-breadcrumbs__forward-chevron();
        margin-left: $vanilla-breadcrumbs-item-margin;
      }
    }
    @include media('<tablet') {
      &:not(:nth-last-child(2)) {
        display: none;
      }

      &:nth-last-child(2)::before {
        @include vanilla-breadcrumbs__back-chevron();
        margin-right: $vanilla-breadcrumbs-item-margin-mobile;
      }
    }
  }
}

///  Breadcrumbs item, hidden modifier
///
/// @access public
@mixin vanilla-breadcrumbs__item--hidden() {
  display: none;
}

///  Breadcrumbs ellipsis icon
///
/// @access public
@mixin vanilla-breadcrumbs__ellipsis() {
  @include vanilla-icon(
    $_glyph: '\f141 \f054 ',
    $_space: auto,
    $_color: $vanilla-color-text
  );
  letter-spacing: vanilla-px-to-em(14);
  font-size: $vanilla-breadcrumbs-chevron-size;
}

///  Breadcrumbs chevron icon
///
/// @access public
@mixin vanilla-breadcrumbs__forward-chevron() {
  @include vanilla-icon(
    $_glyph: '\f054',
    $_space: vanilla-px-to-em(16),
    $_color: $vanilla-color-text
  );
  font-size: $vanilla-breadcrumbs-chevron-size;
}

///  Breadcrumbs chevron icon
///
/// @access public
@mixin vanilla-breadcrumbs__back-chevron() {
  @include vanilla-icon(
    $_glyph: '\f053',
    $_space: vanilla-px-to-em(16),
    $_color: $vanilla-color-text
  );
  font-size: $vanilla-breadcrumbs-chevron-size;
}
