////
/// These are the main colors
/// @group Global colors
/// @author Digital CX
////

/// Green
$vanilla-color-green: #60cd18;

/// Dark Green 1
$vanilla-color-darkgreen1: #45b400;

/// Dark Green 2
$vanilla-color-darkgreen2: #379d00;

/// Yellow
$vanilla-color-yellow: #ffc500;

/// Dark Yellow 1
$vanilla-color-darkyellow1: #ffb400;

/// Dark Yellow 2
$vanilla-color-darkyellow2: #f8a000;

/// Purple
$vanilla-color-purple: #673ab6;

/// Dark Purple 1
$vanilla-color-darkpurple1: #4f2c99;

/// Dark Purple 2
$vanilla-color-darkpurple2: #3f2587;

/// Red
$vanilla-color-red: #f03529;

/// Dark Red 1
$vanilla-color-darkred1: #d81a1a;

/// Dark Red 2
$vanilla-color-darkred2: #bb000c;

/// Blue
$vanilla-color-blue: #41b0ee;

/// Dark Blue 1
$vanilla-color-darkblue1: #0092e1;

/// Dark Blue 2
$vanilla-color-darkblue2: #007ac7;

/// White
$vanilla-color-white: #fff;

/// Black
$vanilla-color-black: #000;

/// Grey 1
$vanilla-color-grey1: #1a1a1a;

/// Grey 2
$vanilla-color-grey2: #333;

/// Grey 3
$vanilla-color-grey3: #4d4d4d;

/// Grey 4
$vanilla-color-grey4: #666;

/// Grey 5
$vanilla-color-grey5: #808080;

/// Grey 6
$vanilla-color-grey6: #999;

/// Grey 7
$vanilla-color-grey7: #b3b3b3;

/// Grey 8
$vanilla-color-grey8: #e6e6e6;

/// Grey 9
$vanilla-color-grey9: #f6f6f6;

/// Default text color
$vanilla-color-text: $vanilla-color-grey2;

/// Link
$vanilla-color-link: $vanilla-color-darkblue2;

/// Link hover
$vanilla-color-link-hover: $vanilla-color-link;

/// Link visited
$vanilla-color-link-visited: $vanilla-color-darkpurple2;

// For consistency
$vanilla-color-white: #fff;
$vanilla-color-black: #000;

// Component defaults
$vanilla-color-component-normal: $vanilla-color-darkblue1 !default;
$vanilla-color-component-hover: $vanilla-color-blue !default;
$vanilla-color-component-selected: $vanilla-color-darkblue2 !default;
$vanilla-color-component-pressed: lighten($vanilla-color-blue, 10) !default;
$vanilla-color-component-border: $vanilla-color-grey6 !default;
$vanilla-color-component-disabled-darker: $vanilla-color-grey6 !default;
$vanilla-color-component-disabled-dark: $vanilla-color-grey7 !default;
$vanilla-color-component-disabled-light: $vanilla-color-grey9 !default;
$vanilla-color-text: $vanilla-color-text;

/// Returns a shade of a color
///
/// @access public
/// @output Hex color notation
/// @param A color shade between 1 and 20, where 1 is 5% lighter
@function vanilla-color-shade($color, $shade) {
  $_num-colorshades: 20;

  @if $shade > $_num-colorshades or $shade < 0 {
    @error "$shade has to be between 0 and " + $_num-colorshades;
  }

  $_colorshades: ();
  @for $i from 1 through 20 {
    $_colorshades: append($_colorshades, lighten($color, $i * 5));
  }

  @return nth($_colorshades, $shade);
}
