////
/// Typhography mixins
/// @group Utilities
/// @author Digital CX
////

@import 'variables';
@import 'colors';
@import 'node_modules/include-media/dist/include-media';

$seb-font-path: $vanilla-font-basepath;

/// Body element defaults. Sets font-family and font size for all viewports
/// @access public
@mixin vanilla-typography-body() {
  //@extend %vanilla-font-family;
  font-family: $vanilla-font-seb-sans-serif;
  color: $vanilla-color-text;
  line-height: 1.5;
  @include media-context($vanilla-breakpoints) {
    @include media('>mobile') {
      font-size: map-get(
        map-get($vanilla-font-settings-body, 'mobile'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body, 'mobile'),
        'weight'
      );
    }
    @include media('>tablet') {
      font-size: map-get(
        map-get($vanilla-font-settings-body, 'tablet'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body, 'tablet'),
        'weight'
      );
    }
    @include media('>desktop') {
      font-size: map-get(
        map-get($vanilla-font-settings-body, 'desktop'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body, 'desktop'),
        'weight'
      );
    }
  }
}

/// Output heading styles
///
/// @param {String} $level - Heading level. h1 - h6 and ´display´
@mixin vanilla-typography-heading($level) {
  $headings: (
    'display': $vanilla-font-settings-h-display,
    'h1': $vanilla-font-settings-h1,
    'h2': $vanilla-font-settings-h2,
    'h3': $vanilla-font-settings-h3,
    'h4': $vanilla-font-settings-h4,
    'h5': $vanilla-font-settings-h5,
    'h6': $vanilla-font-settings-h6,
  );

  $use_heading: map-get($headings, $level);

  margin: 0 0 vanilla-px-to-rem(8);
  @include media-context($vanilla-breakpoints) {
    @include media('>mobile') {
      font-size: map-get(map-get($use_heading, 'mobile'), 'size');
      font-weight: map-get(map-get($use_heading, 'mobile'), 'weight');
      line-height: map-get(map-get($use_heading, 'mobile'), 'lineHeight');
    }
    @include media('>tablet') {
      font-size: map-get(map-get($use_heading, 'tablet'), 'size');
      font-weight: map-get(map-get($use_heading, 'tablet'), 'weight');
      line-height: map-get(map-get($use_heading, 'tablet'), 'lineHeight');
    }
    @include media('>desktop') {
      font-size: map-get(map-get($use_heading, 'desktop'), 'size');
      font-weight: map-get(map-get($use_heading, 'desktop'), 'weight');
      line-height: map-get(map-get($use_heading, 'desktop'), 'lineHeight');
    }
  }
}

/// Small font styles
/// @access public
@mixin vanilla-typography-small-text() {
  @include media-context($vanilla-breakpoints) {
    @include media('>mobile') {
      font-size: map-get(
        map-get($vanilla-font-settings-body-small, 'mobile'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body-small, 'mobile'),
        'weight'
      );
    }
    @include media('>tablet') {
      font-size: map-get(
        map-get($vanilla-font-settings-body-small, 'tablet'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body-small, 'tablet'),
        'weight'
      );
    }
    @include media('>desktop') {
      font-size: map-get(
        map-get($vanilla-font-settings-body-small, 'desktop'),
        'size'
      );
      font-weight: map-get(
        map-get($vanilla-font-settings-body-small, 'desktop'),
        'weight'
      );
    }
  }
}

/// Link styles
/// @access public
@mixin vanilla-typography-links() {
  font-weight: $vanilla-typography-link-font-weight;
  color: $vanilla-color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  /* visited link */
  &:visited {
    color: $vanilla-color-link-visited;
  }
}

/// Paragraph styles
/// @access public
@mixin vanilla-typography-paragraph() {
  margin: 0 0 vanilla-px-to-rem(16);
}

/// UL styles
/// @access public
@mixin vanilla-typography-list() {
  @include vanilla-typography-paragraph();
  padding: 0 vanilla-px-to-rem(16);

  ul > &:last-child,
  ol > &:last-child {
    margin: 0;
  }
}
