////
/// Import this file to get all of Vanilla in one go.
/// Note: It is usually better to import components one by one where you need them. That help keeping output file size low, and gives you a cleaner dependency tree.
/// @group Global
/// @author Digital CX
////

@import 'defaults';

// All components
@import 'components/alerts/alert-ribbon';
@import 'components/alerts/toast';
@import 'components/badge/badge';
@import 'components/buttons/button';
@import 'components/breadcrumbs/breadcrumbs';
@import 'components/inputs/input_base';
@import 'components/inputs/dropdown';
@import 'components/inputs/dropdown-native';
@import 'components/inputs/radio';
@import 'components/inputs/checkbox';
@import 'components/inputs/switch';
@import 'components/inputs/toggle-selector';
@import 'components/accordions/accordion';
@import 'components/tables/table';
@import 'components/progress-bars/progress-bar';
@import 'components/progress-bars/progress-indicator';
@import 'components/tabs/tabs';
@import 'components/datepicker/datepicker';
@import 'components/drag-drop/drag-drop';
@import 'components/text/preamble';
@import 'components/modals/modal-slideout';
@import 'components/modals/modal-dialog';
@import 'components/tooltips/contextual-help';
@import 'components/tooltips/tooltip-all';
@import 'components/inputs/stepper';
@import 'components/segmented-control/segmented-control';
@import 'components/sticky-bars/sticky-bar';
@import 'components/sliders/range-input';
@import 'components/list/list';

/// Deprecated
@import 'components/dialogs/dialog';
