////
/// These styles are only included in the Pattern Library (and Design Library) component preview frame, and thus not part of the Vanilla framework itself.
/// @group PatternLibrary
/// @author Digital CX
////

@import "variables";

$vanilla-font-awesome-inc-path: "https://sebgroup.github.io/vanilla-pattern-library/assets/fontawesome";
@import url("#{$vanilla-font-awesome-inc-path}/css/light.min.css");
@import url("#{$vanilla-font-awesome-inc-path}/css/fontawesome.css");

// Examples
@import "examples/colors";
@import "examples/simple-form";

.sdv-dialog-backdrop {
    position: relative;
    height: 400px;
}

.pl-purple-bg {
  background-color: $vanilla-color-purple;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.pl-yellow-bg {
  background-color: $vanilla-color-yellow;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.showcase__render {
  min-height: 200px;
}


.seb-font-example {
  margin-bottom: 3rem;

  &.seb-sans-serif-light {
    font-family: $vanilla-font-seb-sans-serif;
    font-weight: 300;
  }
  &.seb-sans-serif-regular {
    font-family: $vanilla-font-seb-sans-serif;
    font-weight: 400;
  }
  &.seb-sans-serif-medium {
    font-family: $vanilla-font-seb-sans-serif;
    font-weight: 500;
  }
  &.seb-sans-serif-bold {
    font-family: $vanilla-font-seb-sans-serif;
    font-weight: 700;
  }

  h1 {
    font-weight: inherit;
  }
}
