$vanilla-font-basepath: 'https://designlibrary.sebgroup.com/static/fonts/';
$vanilla-font-awesome-inc-path: "https://designlibrary.sebgroup.com/static/Fonts/fontawesome";

@import 'vanilla-all';

// Examples
@import 'examples/colors';
