////
/// Mixins for dialogs
/// @group Component mixins
/// @author Digital CX
////

@import '../../variables';
@import '../../utilities';
@import 'include-media/dist/include-media';

/// Mixes in dialog styles
///
/// @access public
/// @deprecated Use modals/modal-dialog instead
@mixin vanilla-dialog() {
  background-color: $vanilla-color-white;
  max-width: 100%;
  margin: 0 auto;
  align-self: center;
  flex-grow: 0;
  border: 1px solid $vanilla-color-white;

  @include media-context($vanilla-breakpoints) {
    @include media('>=tablet') {
      min-width: vanilla-px-to-rem(480);
    }
  }

  &__heading {
    padding: 0 vanilla-px-to-rem(16) vanilla-px-to-rem(11);
    margin: vanilla-px-to-rem(8) 0;
    font-size: vanilla-px-to-rem(24px);
    border-bottom: 1px solid $vanilla-color-grey7;
  }

  &__body {
    margin: vanilla-px-to-rem(16) vanilla-px-to-rem(16) vanilla-px-to-rem(32);
  }

  &__actions {
    margin: vanilla-px-to-rem(16);
    text-align: right;

    button + button {
      margin-left: vanilla-px-to-rem(16);
    }
  }
}

/// Mixes in dialog backdrop styles
///
/// @access public
/// @deprecated use vanilla-modal-backdrop instead
@mixin vanilla-dialog-backdrop($opacity: 0.5) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, $opacity);

  @include media-context($vanilla-breakpoints) {
    @include media('>=tablet') {
      display: flex;
      align-items: center;
    }
  }
}
