@import 'dialog-mixins';

@include _vanilla-exports('vanilla-dialog') {
    .sdv-dialog
    {
        @include vanilla-dialog();
    }

    .sdv-dialog-backdrop
    {
        @include vanilla-dialog-backdrop();
    }
}
